.site-header{
  position: relative;
  background-color: #4abdf2;
  padding: 34px 0 105px 0;
  z-index: 1;
}
.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar{
  display: none
}
.menu__list {
  @include list-global;
  display: flex;
}
.menu__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-left: 47px;
}
.logo{
  width: 170px;
  height: 33px;
}
.menu__link--bang{
  margin-left: 0;
}
.menu__link:hover{
  cursor: pointer;
}
.menu__link--open {
  padding: 16px 31px;
  background: #FFFFFF;
  border-radius: 28px;
  text-decoration: none;
  font-family: 'Fraunces 9pt Soft';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  color: #24303E;
  
}

.menu__link--open:hover{
  background: #78cef5;
  mix-blend-mode: normal;
  border-radius: 28px;
  color: #FFFFFF;
}

.site-header__burger-btn {
  display: none;
  margin-left: auto;
  padding: 16px 0;
  font-size: 25px;
  border: none;
  background-color: transparent;
}

@include max-width(520px) {
  .site-header{
    padding: 48px 0 80px 0;
  }
  .menu{
    display: none;
  }
  .header__inner{
    position: relative;
  }
  .logo{
    width: 134px;
    height: 19px;
  }
  .menu--bor{
    position: absolute;
    top: -120vh;
    right: 0;
    width: 100vw;
    max-width: 50%;
    height: 100vh;
    background-color: #77c4e0;
    transition: all 0.5s ease;

    &--open{
     top: 60px; 
    }
  }
  .navbar{
    display: block;
  }

  .menu__list {
    width: 100%;
    flex-direction: column;
  }

  .site-header__burger-btn {
    display: block;
  }
}
